# Introduction

In this notebook, we will do a comprehensive analysis of the Android app market by comparing thousands of apps in the Google Play store.

# About the Dataset of Google Play Store Apps & Reviews

**Data Source:** <br>
App and review data was scraped from the Google Play Store by Lavanya Gupta in 2018. Original files listed [here](
https://www.kaggle.com/lava18/google-play-store-apps).

# Import Statements

In [19]:
import pandas as pd
import plotly.express as px

# Notebook Presentation

In [20]:
# Show numeric output in decimal format e.g., 2.15
pd.options.display.float_format = '{:,.2f}'.format

# Read the Dataset

In [21]:
df_apps = pd.read_csv('apps.csv')

# Data Cleaning

**Challenge**: How many rows and columns does `df_apps` have? What are the column names? Look at a random sample of 5 different rows with [.sample()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).

In [4]:
df_apps.shape

(10841, 12)

In [5]:
df_apps.describe()

,Rating,Reviews,Size_MBs
count,"9,367.00","10,841.00","10,841.00"
mean,4.19,"444,111.93",19.77
std,0.52,"2,927,628.66",21.40
min,1.00,0.00,0.01
25%,4.00,38.00,4.90
50%,4.30,"2,094.00",11.00
75%,4.50,"54,768.00",27.00
max,5.00,"78,158,306.00",100.00

In [6]:
df_apps.sample()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
3412,AC WIFI,TOOLS,3.60,41,23.00,"10,000",Free,0,Everyone,Tools,"June 3, 2018",2.3 and up

### Drop Unused Columns

**Challenge**: Remove the columns called `Last_Updated` and `Android_Version` from the DataFrame. We will not use these columns.

In [22]:
df_apps.drop(columns=['Last_Updated','Android_Ver'], inplace=True)
df_apps.sample()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
2826,Sat-Fi,COMMUNICATION,3.60,97,3.50,"5,000",Free,0,Everyone,Communication

### Find and Remove NaN values in Ratings

**Challenge**: How may rows have a NaN value (not-a-number) in the Ratings column? Create DataFrame called `df_apps_clean` that does not include these rows.

In [23]:
df_apps.isna().values.sum()

1475

In [24]:
df_apps.dropna(inplace=True)
df_apps_clean = df_apps
df_apps_clean.isna().values.sum()

0

In [10]:
df_apps_clean.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
21,KBA-EZ Health Guide,MEDICAL,5.00,4,25.00,1,Free,0,Everyone,Medical
28,Ra Ga Ba,GAME,5.00,2,20.00,1,Paid,$1.49,Everyone,Arcade
47,Mu.F.O.,GAME,5.00,2,16.00,1,Paid,$0.99,Everyone,Arcade
82,Brick Breaker BR,GAME,5.00,7,19.00,5,Free,0,Everyone,Arcade
99,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.00,1,4.60,5,Free,0,Everyone,Medical

In [11]:
df_apps_clean.shape

(9367, 10)

### Find and Remove Duplicates

**Challenge**: Are there any duplicates in data? Check for duplicates using the [.duplicated()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html) function. How many entries can you find for the "Instagram" app? Use [.drop_duplicates()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html) to remove any duplicates from `df_apps_clean`.

In [25]:
df_apps_clean.duplicated(subset=['App']).sum()

1170

In [26]:
df_apps_clean.duplicated(subset=['App'])

In [27]:
df_apps_clean.loc[df_apps_clean['App']=='Instagram']

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
10806,Instagram,SOCIAL,4.50,66577313,5.30,"1,000,000,000",Free,0,Teen,Social
10808,Instagram,SOCIAL,4.50,66577446,5.30,"1,000,000,000",Free,0,Teen,Social
10809,Instagram,SOCIAL,4.50,66577313,5.30,"1,000,000,000",Free,0,Teen,Social
10810,Instagram,SOCIAL,4.50,66509917,5.30,"1,000,000,000",Free,0,Teen,Social

In [28]:
df_apps_clean.drop_duplicates(subset=['App'], inplace=True)

In [29]:
df_apps_clean.duplicated(subset=['App']).sum()

0

In [31]:
df_apps_clean.drop(columns=['Last_Updated','Android_Ver'], inplace=True)

KeyError: KeyError: "['Last_Updated' 'Android_Ver'] not found in axis"

In [32]:
df_apps_clean.shape

(8197, 10)

# Find Highest Rated Apps

**Challenge**: Identify which apps are the highest rated. What problem might you encounter if you rely exclusively on ratings alone to determine the quality of an app?

In [33]:
df_apps_clean.sort_values(by='Rating', ascending=False)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
21,KBA-EZ Health Guide,MEDICAL,5.00,4,25.00,1,Free,0,Everyone,Medical
1230,Sway Medical,MEDICAL,5.00,3,22.00,100,Free,0,Everyone,Medical
1227,AJ Men's Grooming,LIFESTYLE,5.00,2,22.00,100,Free,0,Everyone,Lifestyle
1224,FK Dedinje BGD,SPORTS,5.00,36,2.60,100,Free,0,Everyone,Sports
1223,CB VIDEO VISION,PHOTOGRAPHY,5.00,13,2.60,100,Free,0,Everyone,Photography
...,...,...,...,...,...,...,...,...,...,...
1721,Lottery Ticket Checker - Florida Results & Lotto,TOOLS,1.00,3,41.00,500,Free,0,Everyone,Tools
728,Truck Driving Test Class 3 BC,FAMILY,1.00,1,2.00,50,Paid,$1.49,Everyone,Education
240,House party - live chat,DATING,1.00,1,9.20,10,Free,0,Mature 17+,Dating
1271,MbH BM,MEDICAL,1.00,1,2.30,100,Free,0,Everyone,Medical
617,DT future1 cam,TOOLS,1.00,1,24.00,50,Free,0,Everyone,Tools

# Find 5 Largest Apps in terms of Size (MBs)

**Challenge**: What's the size in megabytes (MB) of the largest Android apps in the Google Play Store. Based on the data, do you think there could be limit in place or can developers make apps as large as they please?

In [34]:
df_apps_clean.sort_values(by='Size_MBs', ascending=False)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
9942,Talking Babsy Baby: Baby Games,LIFESTYLE,4.00,140995,100.00,"10,000,000",Free,0,Everyone,Lifestyle;Pretend Play
10687,Hungry Shark Evolution,GAME,4.50,6074334,100.00,"100,000,000",Free,0,Teen,Arcade
9943,Miami crime simulator,GAME,4.00,254518,100.00,"10,000,000",Free,0,Mature 17+,Action
9944,Gangster Town: Vice District,FAMILY,4.30,65146,100.00,"10,000,000",Free,0,Mature 17+,Simulation
3144,Vi Trainer,HEALTH_AND_FITNESS,3.60,124,100.00,"5,000",Free,0,Everyone,Health & Fitness
...,...,...,...,...,...,...,...,...,...,...
5798,ExDialer PRO Key,COMMUNICATION,4.50,5474,0.02,"100,000",Paid,$3.99,Everyone,Communication
2648,Ad Remove Plugin for App2SD,PRODUCTIVITY,4.10,66,0.02,"1,000",Paid,$1.29,Everyone,Productivity
2684,My baby firework (Remove ad),FAMILY,4.10,30,0.01,"1,000",Paid,$0.99,Everyone,Entertainment
7966,Market Update Helper,LIBRARIES_AND_DEMO,4.10,20145,0.01,"1,000,000",Free,0,Everyone,Libraries & Demo
4696,Essential Resources,LIBRARIES_AND_DEMO,4.60,237,0.01,"50,000",Free,0,Everyone,Libraries & Demo

# Find the 5 App with Most Reviews

**Challenge**: Which apps have the highest number of reviews? Are there any paid apps among the top 50?

In [35]:
df_apps_clean.sort_values(by='Reviews', ascending=False)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
10805,Facebook,SOCIAL,4.10,78158306,5.30,"1,000,000,000",Free,0,Teen,Social
10785,WhatsApp Messenger,COMMUNICATION,4.40,69119316,3.50,"1,000,000,000",Free,0,Everyone,Communication
10806,Instagram,SOCIAL,4.50,66577313,5.30,"1,000,000,000",Free,0,Teen,Social
10784,Messenger – Text and Video Chat for Free,COMMUNICATION,4.00,56642847,3.50,"1,000,000,000",Free,0,Everyone,Communication
10650,Clash of Clans,GAME,4.60,44891723,98.00,"100,000,000",Free,0,Everyone 10+,Strategy
...,...,...,...,...,...,...,...,...,...,...
453,Wowkwis aq Ka'qaquj,FAMILY,5.00,1,49.00,10,Free,0,Everyone,Education;Education
462,CB Fit,HEALTH_AND_FITNESS,5.00,1,7.80,10,Free,0,Everyone,Health & Fitness
1416,Ek Kahani Aisi Bhi Season 3 - The Horror Story,FAMILY,3.00,1,5.80,100,Free,0,Teen,Entertainment
485,Familyfirst Messenger,MEDICAL,4.00,1,3.30,10,Free,0,Everyone,Medical
1100,Chenoweth AH,MEDICAL,5.00,1,27.00,100,Free,0,Everyone,Medical

# Plotly Pie and Donut Charts - Visualise Categorical Data: Content Ratings

In [36]:
ratings = df_apps_clean.Content_Rating.value_counts()
ratings

In [37]:
fig = px.pie(labels=ratings.index, values=ratings.values)

fig.show()

Unsupported

In [39]:
fig = px.pie(labels=ratings.index,
             values=ratings.values,
             title="Content Rating",
             names=ratings.index)

fig.update_traces(textposition='outside', textinfo='percent+label')

fig.show()

Unsupported

In [40]:
fig = px.pie(labels=ratings.index,
             values=ratings.values,
             title="Content Rating",
             names=ratings.index,
             hole=0.5)

fig.update_traces(textposition='outside', textinfo='percent+label')

fig.show()

Unsupported

# Numeric Type Conversion: Examine the Number of Installs

**Challenge**: How many apps had over 1 billion (that's right - BILLION) installations? How many apps just had a single install? 

Check the datatype of the Installs column.

Count the number of apps at each level of installations. 

Convert the number of installations (the Installs column) to a numeric data type. Hint: this is a 2-step process. You'll have make sure you remove non-numeric characters first.

In [41]:
df_apps_clean.dtypes

In [42]:
df_apps_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8197 entries, 21 to 10835
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8197 non-null   object
 1   Category        8197 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         8197 non-null   int64
 4   Size_MBs        8197 non-null   float64
 5   Installs        8197 non-null   object
 6   Type            8197 non-null   object
 7   Price           8197 non-null   object
 8   Content_Rating  8197 non-null   object
 9   Genres          8197 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 704.4+ KB

In [43]:
df_apps_clean.Installs.describe()

In [44]:
installs = df_apps_clean.Installs.value_counts()
installs

In [45]:
df_apps_clean.Installs = df_apps_clean.Installs.astype(str).str.replace(',','')
df_apps_clean.Installs = pd.to_numeric(df_apps_clean.Installs)

In [46]:
df_apps_clean[['App','Installs']].groupby('Installs').count()

,App
Installs,
1,3
5,9
10,69
50,56
100,303
500,199
1000,698
5000,425
10000,988
50000,457
100000,1095
500000,504
1000000,1417
5000000,607
10000000,933
50000000,202
100000000,188
500000000,24
1000000000,20

# Find the Most Expensive Apps, Filter out the Junk, and Calculate a (ballpark) Sales Revenue Estimate

Let's examine the Price column more closely.

**Challenge**: Convert the price column to numeric data. Then investigate the top 20 most expensive apps in the dataset.

Remove all apps that cost more than $250 from the `df_apps_clean` DataFrame.

Add a column called 'Revenue_Estimate' to the DataFrame. This column should hold the price of the app times the number of installs. What are the top 10 highest grossing paid apps according to this estimate? Out of the top 10 highest grossing paid apps, how many are games?

In [47]:
df_apps_clean.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
21,KBA-EZ Health Guide,MEDICAL,5.00,4,25.00,1,Free,0,Everyone,Medical
28,Ra Ga Ba,GAME,5.00,2,20.00,1,Paid,$1.49,Everyone,Arcade
47,Mu.F.O.,GAME,5.00,2,16.00,1,Paid,$0.99,Everyone,Arcade
82,Brick Breaker BR,GAME,5.00,7,19.00,5,Free,0,Everyone,Arcade
99,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.00,1,4.60,5,Free,0,Everyone,Medical

In [48]:
df_apps_clean.Price = df_apps_clean.Price.astype(str).str.replace('$','', regex=False)
df_apps_clean.Price = pd.to_numeric(df_apps_clean.Price)
df_apps_clean

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
21,KBA-EZ Health Guide,MEDICAL,5.00,4,25.00,1,Free,0.00,Everyone,Medical
28,Ra Ga Ba,GAME,5.00,2,20.00,1,Paid,1.49,Everyone,Arcade
47,Mu.F.O.,GAME,5.00,2,16.00,1,Paid,0.99,Everyone,Arcade
82,Brick Breaker BR,GAME,5.00,7,19.00,5,Free,0.00,Everyone,Arcade
99,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.00,1,4.60,5,Free,0.00,Everyone,Medical
...,...,...,...,...,...,...,...,...,...,...
10824,Google Drive,PRODUCTIVITY,4.40,2731171,4.00,1000000000,Free,0.00,Everyone,Productivity
10828,YouTube,VIDEO_PLAYERS,4.30,25655305,4.65,1000000000,Free,0.00,Teen,Video Players & Editors
10829,Google Play Movies & TV,VIDEO_PLAYERS,3.70,906384,4.65,1000000000,Free,0.00,Teen,Video Players & Editors
10831,Google News,NEWS_AND_MAGAZINES,3.90,877635,13.00,1000000000,Free,0.00,Teen,News & Magazines
10835,Subway Surfers,GAME,4.50,27722264,76.00,1000000000,Free,0.00,Everyone 10+,Arcade

### The most expensive apps sub $250

In [49]:
df_apps_clean.sort_values('Price', ascending=False).head(20)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
3946,I'm Rich - Trump Edition,LIFESTYLE,3.60,275,7.30,10000,Paid,400.00,Everyone,Lifestyle
2461,I AM RICH PRO PLUS,FINANCE,4.00,36,41.00,1000,Paid,399.99,Everyone,Finance
1331,most expensive app (H),FAMILY,4.30,6,1.50,100,Paid,399.99,Everyone,Entertainment
5765,I am rich,LIFESTYLE,3.80,3547,1.80,100000,Paid,399.99,Everyone,Lifestyle
1946,I am rich (Most expensive app),FINANCE,4.10,129,2.70,1000,Paid,399.99,Teen,Finance
4606,I Am Rich Premium,FINANCE,4.10,1867,4.70,50000,Paid,399.99,Everyone,Finance
3145,I am rich(premium),FINANCE,3.50,472,0.94,5000,Paid,399.99,Everyone,Finance
2394,I am Rich!,FINANCE,3.80,93,22.00,1000,Paid,399.99,Everyone,Finance
2775,I Am Rich Pro,FAMILY,4.40,201,2.70,5000,Paid,399.99,Everyone,Entertainment
3554,💎 I'm rich,LIFESTYLE,3.80,718,26.00,10000,Paid,399.99,Everyone,Lifestyle
3221,I am Rich Plus,FAMILY,4.00,856,8.70,10000,Paid,399.99,Everyone,Entertainment
3114,I am Rich,FINANCE,4.30,180,3.80,5000,Paid,399.99,Everyone,Finance
3897,I Am Rich,FAMILY,3.60,217,4.90,10000,Paid,389.99,Everyone,Entertainment
2193,I am extremely Rich,LIFESTYLE,2.90,41,2.90,1000,Paid,379.99,Everyone,Lifestyle
3856,I am rich VIP,LIFESTYLE,3.80,411,2.60,10000,Paid,299.99,Everyone,Lifestyle
2281,Vargo Anesthesia Mega App,MEDICAL,4.60,92,32.00,1000,Paid,79.99,Everyone,Medical
1407,LTC AS Legal,MEDICAL,4.00,6,1.30,100,Paid,39.99,Everyone,Medical
2629,I am Rich Person,LIFESTYLE,4.20,134,1.80,1000,Paid,37.99,Everyone,Lifestyle
2481,A Manual of Acupuncture,MEDICAL,3.50,214,68.00,1000,Paid,33.99,Everyone,Medical
2207,EMT PASS,MEDICAL,3.40,51,2.40,1000,Paid,29.99,Everyone,Medical

In [158]:
df_apps_clean = df_apps_clean[df_apps_clean.Price < 250]
df_apps_clean.sort_values('Price', ascending=False).head(5)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
2281,Vargo Anesthesia Mega App,MEDICAL,4.60,92,32.00,1000,Paid,79.99,Everyone,Medical
1407,LTC AS Legal,MEDICAL,4.00,6,1.30,100,Paid,39.99,Everyone,Medical
2629,I am Rich Person,LIFESTYLE,4.20,134,1.80,1000,Paid,37.99,Everyone,Lifestyle
2481,A Manual of Acupuncture,MEDICAL,3.50,214,68.00,1000,Paid,33.99,Everyone,Medical
504,AP Art History Flashcards,FAMILY,5.00,1,96.00,10,Paid,29.99,Mature 17+,Education

### Highest Grossing Paid Apps (ballpark estimate)

In [51]:
df_apps_clean['Revenue_Estimate'] = df_apps_clean.Installs.multiply(df_apps_clean.Price)
df_apps_clean.sort_values('Revenue_Estimate', ascending=False)[:10]

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Revenue_Estimate
9220,Minecraft,FAMILY,4.50,2376564,19.00,10000000,Paid,6.99,Everyone 10+,Arcade;Action & Adventure,"69,900,000.00"
5765,I am rich,LIFESTYLE,3.80,3547,1.80,100000,Paid,399.99,Everyone,Lifestyle,"39,999,000.00"
4606,I Am Rich Premium,FINANCE,4.10,1867,4.70,50000,Paid,399.99,Everyone,Finance,"19,999,500.00"
8825,Hitman Sniper,GAME,4.60,408292,29.00,10000000,Paid,0.99,Mature 17+,Action,"9,900,000.00"
7151,Grand Theft Auto: San Andreas,GAME,4.40,348962,26.00,1000000,Paid,6.99,Mature 17+,Action,"6,990,000.00"
7477,Facetune - For Free,PHOTOGRAPHY,4.40,49553,48.00,1000000,Paid,5.99,Everyone,Photography,"5,990,000.00"
7977,Sleep as Android Unlock,LIFESTYLE,4.50,23966,0.85,1000000,Paid,5.99,Everyone,Lifestyle,"5,990,000.00"
6594,DraStic DS Emulator,GAME,4.60,87766,12.00,1000000,Paid,4.99,Everyone,Action,"4,990,000.00"
3946,I'm Rich - Trump Edition,LIFESTYLE,3.60,275,7.30,10000,Paid,400.00,Everyone,Lifestyle,"4,000,000.00"
3554,💎 I'm rich,LIFESTYLE,3.80,718,26.00,10000,Paid,399.99,Everyone,Lifestyle,"3,999,900.00"

# Plotly Bar Charts & Scatter Plots: Analysing App Categories

In [52]:
df_apps_clean.Category.nunique()

33

In [53]:
top10_category = df_apps_clean.Category.value_counts()[:10]
top10_category

### Vertical Bar Chart - Highest Competition (Number of Apps)

In [54]:
bar = px.bar(x = top10_category.index,
             y = top10_category.values)

bar.show()

Unsupported

### Horizontal Bar Chart - Most Popular Categories (Highest Downloads)

In [55]:
category_installs = df_apps_clean.groupby('Category').agg({'Installs': pd.Series.sum}) # Category as index amd get only Installs column, .sum() would sum values in other columns as well
category_installs.sort_values('Installs', ascending=True, inplace=True)
category_installs.head(20)

,Installs
Category,
EVENTS,15949410
BEAUTY,26916200
PARENTING,31116110
MEDICAL,39062676
COMICS,44931100
LIBRARIES_AND_DEMO,52083000
AUTO_AND_VEHICLES,53129800
HOUSE_AND_HOME,97082000
ART_AND_DESIGN,114233100
DATING,140912410
FOOD_AND_DRINK,211677750
EDUCATION,352852000
WEATHER,361096500
FINANCE,455312400
MAPS_AND_NAVIGATION,503267560
LIFESTYLE,503742120
BUSINESS,692018120
SPORTS,1096431465
HEALTH_AND_FITNESS,1134006220
SHOPPING,1400331540

In [56]:
h_bar = px.bar(x = category_installs.Installs,
               y = category_installs.index,
               orientation ='h',
               title = 'Category Popularity')

h_bar.update_layout(xaxis_title = 'Number of Downloads', yaxis_title='Category')

h_bar.show()

Unsupported

### Category Concentration - Downloads vs. Competition

**Challenge**: 
* First, create a DataFrame that has the number of apps in one column and the number of installs in another:

<img src=https://imgur.com/uQRSlXi.png width="350">

* Then use the [plotly express examples from the documentation](https://plotly.com/python/line-and-scatter/) alongside the [.scatter() API reference](https://plotly.com/python-api-reference/generated/plotly.express.scatter.html)to create scatter plot that looks like this. 

<img src=https://imgur.com/cHsqh6a.png>

*Hint*: Use the size, hover_name and color parameters in .scatter(). To scale the yaxis, call .update_layout() and specify that the yaxis should be on a log-scale like so: yaxis=dict(type='log')

In [57]:
cat_number = df_apps_clean.groupby('Category').agg({'App': pd.Series.count})
cat_number.sort_values('App', ascending=False)

,App
Category,
FAMILY,1610
GAME,910
TOOLS,718
LIFESTYLE,302
FINANCE,302
PRODUCTIVITY,301
PERSONALIZATION,298
MEDICAL,291
PHOTOGRAPHY,263
BUSINESS,262
SPORTS,260
COMMUNICATION,257
HEALTH_AND_FITNESS,243
NEWS_AND_MAGAZINES,204
SOCIAL,203
TRAVEL_AND_LOCAL,187
SHOPPING,180
BOOKS_AND_REFERENCE,169
VIDEO_PLAYERS,148
DATING,134
EDUCATION,118
MAPS_AND_NAVIGATION,118
ENTERTAINMENT,102
FOOD_AND_DRINK,94
AUTO_AND_VEHICLES,73
WEATHER,72
LIBRARIES_AND_DEMO,64
HOUSE_AND_HOME,62
ART_AND_DESIGN,61
COMICS,54
PARENTING,50
EVENTS,45
BEAUTY,42

In [58]:
cat_merged_df = pd.merge(cat_number, category_installs, on='Category', how='inner')
print(f'The dimensions of the DataFrame are: {cat_merged_df.shape}')
cat_merged_df.sort_values('Installs', ascending=False)

The dimensions of the DataFrame are: (33, 2)

,App,Installs
Category,,
GAME,910,13858762717
COMMUNICATION,257,11039241530
TOOLS,718,7999724500
PRODUCTIVITY,301,5788070180
SOCIAL,203,5487841475
PHOTOGRAPHY,263,4649143130
FAMILY,1610,4437579590
VIDEO_PLAYERS,148,3916897200
TRAVEL_AND_LOCAL,187,2894859300
NEWS_AND_MAGAZINES,204,2369110650
ENTERTAINMENT,102,2113660000
BOOKS_AND_REFERENCE,169,1665791655
PERSONALIZATION,298,1532352930
SHOPPING,180,1400331540
HEALTH_AND_FITNESS,243,1134006220
SPORTS,260,1096431465
BUSINESS,262,692018120
LIFESTYLE,302,503742120
MAPS_AND_NAVIGATION,118,503267560
FINANCE,302,455312400
WEATHER,72,361096500
EDUCATION,118,352852000
FOOD_AND_DRINK,94,211677750
DATING,134,140912410
ART_AND_DESIGN,61,114233100
HOUSE_AND_HOME,62,97082000
AUTO_AND_VEHICLES,73,53129800
LIBRARIES_AND_DEMO,64,52083000
COMICS,54,44931100
MEDICAL,291,39062676
PARENTING,50,31116110
BEAUTY,42,26916200
EVENTS,45,15949410

In [59]:
fig = px.scatter(data_frame=cat_merged_df,
                 x='App',
                 y='Installs',
                 size='App',
                 color='Installs',
                 hover_name=cat_merged_df.index,
                 title='Category Concentration',)

fig.update_layout(xaxis_title="Number of Apps (Lower=More Concentrated)",
                      yaxis_title="Installs",
                      yaxis=dict(type='log'))

fig.show()

Unsupported

# Extracting Nested Data from a Column

**Challenge**: How many different types of genres are there? Can an app belong to more than one genre? Check what happens when you use .value_counts() on a column with nested values? See if you can work around this problem by using the .split() function and the DataFrame's [.stack() method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html).

In [60]:
df_apps_clean.Genres.value_counts()

In [61]:
stack = df_apps_clean.Genres.str.split(';', expand=True).stack()
print(f'length of the stack column: {stack.shape[0]}')
stack.value_counts()
print(f'Number of genres: {len(stack.value_counts())}')
stack

length of the stack column: 8577
Number of genres: 53

# Colour Scales in Plotly Charts - Competition in Genres

**Challenge**: Can you create this chart with the Series containing the genre data? 

<img src=https://imgur.com/DbcoQli.png width=400>

Try experimenting with the built in colour scales in Plotly. You can find a full list [here](https://plotly.com/python/builtin-colorscales/). 

* Find a way to set the colour scale using the color_continuous_scale parameter. 
* Find a way to make the color axis disappear by using coloraxis_showscale.

In [62]:
top15_genres = stack.value_counts()[:15]

In [63]:
fig = px.bar(data_frame=top15_genres,
             x=top15_genres.index,
             y=top15_genres.values,
             color=top15_genres.values,
             color_continuous_scale=px.colors.sequential.Sunset,
             title='Top 15 Genres')

fig.update_layout(xaxis_title='Number of Apps',
                  yaxis_title='Genres',
                  coloraxis_showscale = False)




fig.show()

Unsupported

# Grouped Bar Charts: Free vs. Paid Apps per Category

In [64]:
df_apps_clean.Type.value_counts()

In [65]:
df_free_vs_paid = df_apps_clean.groupby(['Category','Type'], as_index=False).agg({'App': pd.Series.count})
df_free_vs_paid

,Category,Type,App
0,ART_AND_DESIGN,Free,58
1,ART_AND_DESIGN,Paid,3
2,AUTO_AND_VEHICLES,Free,72
3,AUTO_AND_VEHICLES,Paid,1
4,BEAUTY,Free,42
...,...,...,...
56,TRAVEL_AND_LOCAL,Paid,8
57,VIDEO_PLAYERS,Free,144
58,VIDEO_PLAYERS,Paid,4
59,WEATHER,Free,65
60,WEATHER,Paid,7

**Challenge**: Use the plotly express bar [chart examples](https://plotly.com/python/bar-charts/#bar-chart-with-sorted-or-ordered-categories) and the [.bar() API reference](https://plotly.com/python-api-reference/generated/plotly.express.bar.html#plotly.express.bar) to create this bar chart: 

<img src=https://imgur.com/LE0XCxA.png>

You'll want to use the `df_free_vs_paid` DataFrame that you created above that has the total number of free and paid apps per category. 

See if you can figure out how to get the look above by changing the `categoryorder` to 'total descending' as outlined in the documentation here [here](https://plotly.com/python/categorical-axes/#automatically-sorting-categories-by-name-or-total-value).

In [66]:
fig = px.bar(df_free_vs_paid, x="Category", y="App", color="Type", barmode="group", title='Free vs Paid Apps by Category')

fig.update_layout(xaxis_title="Category",
                      yaxis_title="Number of Apps",
                      yaxis=dict(type='log'),
                  xaxis_categoryorder='total descending')

fig.show()

Unsupported

# Plotly Box Plots: Lost Downloads for Paid Apps

**Challenge**: Create a box plot that shows the number of Installs for free versus paid apps. How does the median number of installations compare? Is the difference large or small?

Use the [Box Plots Guide](https://plotly.com/python/box-plots/) and the [.box API reference](https://plotly.com/python-api-reference/generated/plotly.express.box.html) to create the following chart. 

<img src=https://imgur.com/uVsECT3.png>

In [67]:
fig = px.box(df_apps_clean, x="Type", y="Installs", color="Type", points='all', notched=True, title='How Many Downloads are Paid Apps Giving Up?')

fig.update_layout(yaxis=dict(type='log'))

fig.show()

Unsupported

# Plotly Box Plots: Revenue by App Category

**Challenge**: See if you can generate the chart below: 

<img src=https://imgur.com/v4CiNqX.png>

Looking at the hover text, how much does the median app earn in the Tools category? If developing an Android app costs $30,000 or thereabouts, does the average photography app recoup its development costs?

Hint: I've used 'min ascending' to sort the categories.

In [68]:
df_apps_clean.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Revenue_Estimate
21,KBA-EZ Health Guide,MEDICAL,5.00,4,25.00,1,Free,0.00,Everyone,Medical,0.00
28,Ra Ga Ba,GAME,5.00,2,20.00,1,Paid,1.49,Everyone,Arcade,1.49
47,Mu.F.O.,GAME,5.00,2,16.00,1,Paid,0.99,Everyone,Arcade,0.99
82,Brick Breaker BR,GAME,5.00,7,19.00,5,Free,0.00,Everyone,Arcade,0.00
99,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.00,1,4.60,5,Free,0.00,Everyone,Medical,0.00

In [69]:
df_paid_apps = df_apps_clean[df_apps_clean.Type == 'Paid']
df_paid_apps.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Revenue_Estimate
28,Ra Ga Ba,GAME,5.00,2,20.00,1,Paid,1.49,Everyone,Arcade,1.49
47,Mu.F.O.,GAME,5.00,2,16.00,1,Paid,0.99,Everyone,Arcade,0.99
233,Chess of Blades (BL/Yaoi Game) (No VA),FAMILY,4.80,4,23.00,10,Paid,14.99,Teen,Casual,149.90
248,The DG Buddy,BUSINESS,3.70,3,11.00,10,Paid,2.49,Everyone,Business,24.90
291,AC DC Power Monitor,LIFESTYLE,5.00,1,1.20,10,Paid,3.04,Everyone,Lifestyle,30.40

In [70]:
fig = px.box(df_paid_apps, x="Category", y="Revenue_Estimate", notched=False, title='How Much Can Paid Apps Earn?')

fig.update_layout(yaxis=dict(type='log'), xaxis={'categoryorder': 'min ascending'})

fig.show()

Unsupported

# How Much Can You Charge? Examine Paid App Pricing Strategies by Category

**Challenge**: What is the median price price for a paid app? Then compare pricing by category by creating another box plot. But this time examine the prices (instead of the revenue estimates) of the paid apps. I recommend using `{categoryorder':'max descending'}` to sort the categories.

In [71]:
df_paid_apps.Price.median()

2.99

In [72]:
box = px.box(df_paid_apps,
             x='Category',
             y="Price",
             title='Price per Category')
 
box.update_layout(xaxis_title='Category',
                  yaxis_title='Paid App Price',
                  xaxis={'categoryorder':'max descending'},
                  yaxis=dict(type='log'))
 
box.show()

Unsupported